h2{
  width: 100%;
  text-align: left;
  display: inline-block;
}

label {
  display: inline-block;
  margin: .5em 0;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
  padding-right: 3px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.mbid{
  font-size: x-small;
}
.artist_image{
  display: inline-block;
}
.abstract{
  display: inline-block;
}

a{
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

a:visited{
  color: #4d6a79;
}

a:hover{
  color: #039be5;
}
