.contain-videos{
  width: 970px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #999;
}

.current{
  padding: 2px;
  display: inline-block;
}

.list{
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  max-width: 480px;
}

.list_item:hover{
  cursor: pointer;
  background-color: #eee;
}

.embed{
  margin: 2px auto;
}
