p {
  text-align:justify;
}

.artist, .artist:visited {
  color: #87adc1;
  -webkit-transition: color .4s ease, background-color .4s ease;
  transition: color .4s ease, background-color .4s ease;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
  font-size: 13pt;
  border-radius: 7px;
  border: 1pt #ddd solid;
  padding: 5px;
  background-color: #222;
}

.artist:hover{
  color: #039be5;
  background-color: #333;
}

button {
  width: 120px;
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  &:hover {
    color: #ddd;
  }
}

button span{
  margin-left: -8px;
}

.history{
  color: #FFAF07;
}

.buttons{
  display: inline-block;
}

li {
  list-style: none;
  text-align: center;
  margin-bottom: 2px;
}

.category{
  font-weight: lighter;
  font-size: 11pt;
  color: #ddd;
  border-radius: 7px;
  opacity: 0.75;
  border: 1pt #ddd solid;
  padding: 5px;
}

.category-special {
  font-size: 11pt;
  color: #FFAF07;
  opacity: 0.75;
  border-radius: 7px;
  opacity: 0.75;
  border: 1pt #ddd solid;
  padding: 5px;
}

.arrow{
  font-size: 16pt;
  color: #039be5;
  vertical-align: bottom;
}

span{
  padding-left: 10px;
}

.history_list {
  margin-top: 10px;
  height: calc(100% - 60px);
  overflow-y: scroll;
}
