<div>
  <p>
    MusicLynx is a web platform for music discovery that collects information
    and reveals connections between artists from a range of online sources
    including <a href="https://musicbrainz.org" target="_blank">MusicBrainz</a>,
    <a href="https://dbpedia.org" target="_blank">Dbpedia</a>,
    <a href="https://wikidata.org" target="_blank">Wikidata</a>,
    <a href="https://last.fm" target="_blank">LastFM</a>,
    <a href="https://acousticbrainz.org" target="_blank">AcousticBrainz</a>, and others.
  </p>
  <p>
    The connections between artists are mostly derived from
    <a href="https://en.wikipedia.org/wiki/Help:Category" target="_blank">Wikipedia Categories</a> found at the
    bottom of each artist page. There are two ways you can browse and discover artists in MusicLynx by
    choosing a GRAPH or GRID layout under the LAYOUT menu item. Grid displays artists in category boxes as they are.
    Graph layout is built by analyzing the categories first and making decisions which connections
    between artists are more unique and interesting.  For example, the connections due to the category
    "Living People" are arguably not as interesting, as ones made through "Artists Who Died On Stage".
  </p>
  <p>
    MusicLynx also connects artists using information that has been extracted directly from artists'
    tracks. This information is openly available from <a href="https://acousticbrainz.org" target="_blank">AcousticBrainz</a>
    and relates to musical notions such as rhythm, tonality, and timbre.
  </p>
  <p>
    A handful of artists have also been evaluated in terms of moods their music evokes under the category
    "Similar Artists By Mood". This information was gathered from <a href="https://last.fm" target="_blank">LastFM</a>
    crowd-sourced mood tags.
  </p>
</div>
